@using Humanizer
@model IEnumerable<Byrth.Core.Contraction>

@{
    ViewBag.Title = "Index";
}

<h2 align="center">Contraction Timer</h2>
<div>
    <div align="center"><button class="stopwatch hvr-pulse" value="stopped">00:00:00</button></div>
    <div class="col-md-offset-4">
    </div>
    
    <table class="table results hidden"></table>
</div>
<div align="center">
    <h1>Results Table</h1>
    <div class="panel col-md-offset-3 col-md-6">
        <table class="col-md-12">
            <tr class="tablerow">
                <th>
                    Contraction Duration
                </th>
                <th>Contraction Intervals</th>
                <th></th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.LengthHuman)
                    </td>
                    <td>@Html.DisplayFor(modelItem => item.TimeSinceLastHuman)</td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }

        </table>
    </div>
</div>
@section scripts
{
    <script src="~/Scripts/Custom.js"></script>
    <script>
        $('.stopwatch').click(function () {
            var timer = $(this);
            if (timer.prop('value') == 'stopped') {
                Stopwatch.start();
                timer.prop('value', 'started');
                $.ajax({
                    method: "POST",
                    url: "/Contractions/StartTime",
                })
            }
            else {
                Stopwatch.restart();
                Stopwatch.stop();
                timer.prop('value', 'stopped');
                $.ajax({
                    method: "POST",
                    url: "/Contractions/EndTime",
                })
            }
        });

    </script>
}
