html {
    font-family: Georgia;
    font-weight: 300;
    background-image: url('../Img/expectant-mother.jpg');
    background-size: cover;
    background-attachment: fixed;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
    opacity: 0.8;
    background: none;
    font-family: Georgia;
    font-weight: 300;
    height: 100vh;
}

h1, h2, h3, footer {
    color: #aaebd7;
}

#quickLink {
    color: #000;
}

.lightSwitch {
}

.darkSwitch {
    background-color: black;
    height: 100vh;
}

.countdown {
    padding: 30px;
    margin-bottom: 30px;
    font-size: 21px;
    font-weight: 200;
    line-height: 2.1428571435;
    color: inherit;
}

    .countdown h1 {
        line-height: 1;
        color: inherit;
    }

    .countdown p {
        line-height: 1.4;
    }

.container .countdown {
    border-radius: 20px;
}

@media screen and (min-width: 768px) {
    .countdown {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .container .countdown {
        padding-right: 60px;
        padding-left: 0px;
    }

    .countdown h1 {
        font-size: 63px;
    }
}

.panel {
    border-radius: 20px;
    padding-bottom: 5px;
    opacity: .6;
}

.tablerow {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    border-radius: 10px;
    opacity: .6;
}

.table {
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.stopwatch {
    font-size: 60px;
    text-align: left;
    width: 300px;
    padding-left: 1%;
    padding-bottom: 8%;
    padding-top: 8%;
    padding-right: 2%;
    border-radius: 100%;
    border: 10px solid;
    overflow: hidden;
    background-color: darkgray;
    opacity: .5;
}

    .stopwatch:hover {
        background: #FF8080;
    }

@keyframes hvr-pulse {
    25% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    75% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
}

.hvr-pulse {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0,0,0,0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
}

    .hvr-pulse:active, .hvr-pulse:hover {
        -webkit-animation-name: hvr-pulse;
        animation-name: hvr-pulse;
        -webkit-animation-duration: 4s;
        animation-duration: 4s;
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
    }

.table > tbody + tbody {
    border-top: none;
}

.tgl {
    display: none;
}

    .tgl, .tgl:after, .tgl:before, .tgl *, .tgl *:after, .tgl *:before, .tgl + .tgl-btn {
        box-sizing: border-box;
    }

        .tgl::-moz-selection, .tgl:after::-moz-selection, .tgl:before::-moz-selection, .tgl *::-moz-selection, .tgl *:after::-moz-selection, .tgl *:before::-moz-selection, .tgl + .tgl-btn::-moz-selection {
            background: none;
        }

        .tgl::selection, .tgl:after::selection, .tgl:before::selection, .tgl *::selection, .tgl *:after::selection, .tgl *:before::selection, .tgl + .tgl-btn::selection {
            background: none;
        }

        .tgl + .tgl-btn {
            outline: 0;
            display: block;
            width: 4em;
            height: 2em;
            position: relative;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

            .tgl + .tgl-btn:after, .tgl + .tgl-btn:before {
                position: relative;
                display: block;
                content: "";
                width: 50%;
                height: 100%;
            }

            .tgl + .tgl-btn:after {
                left: 0;
            }

            .tgl + .tgl-btn:before {
                display: none;
            }

        .tgl:checked + .tgl-btn:after {
            left: 50%;
        }

.tgl-flat + .tgl-btn {
    padding: 2px;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    background: #000;
    border: 4px solid #000;
    border-radius: 2em;
}

    .tgl-flat + .tgl-btn:after {
        -webkit-transition: all .2s ease;
        transition: all .2s ease;
        background: #f2f2f2;
        content: "";
        border-radius: 1em;
    }

.tgl-flat:checked + .tgl-btn {
    border: 4px solid #aaebd7;
}

    .tgl-flat:checked + .tgl-btn:after {
        left: 50%;
        background: #aaebd7;
    }

#toggle {
    position: relative;
    top: 50%;
    transform: translateY(40%);
}
